# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
images/Thumbs.db
assets/.vscode/launch.json
Contact.sln
.idea/.idea.Contact/riderModule.iml
.idea/.idea.Contact/.idea/workspace.xml
.idea/.idea.Contact/.idea/vcs.xml
.idea/.idea.Contact/.idea/modules.xml
.idea/.idea.Contact/.idea/indexLayout.xml
.idea/.idea.Contact/.idea/contentModel.xml
.idea/.idea.Contact/.idea/.name
.idea/
